.idea/
.vs/
PoliNetworkBot_CSharp/bin/
PoliNetworkBot_CSharp/obj/
TLSharp/
.idea/.idea.PoliNetworkBot_CSharp/.idea/workspace.xml
TestBot/bin/Debug/
TestBot/obj/Debug/
TestBot/obj/
TestBot/Old/

PoliNetworkBot_CSharp.sln.DotSettings.user

PoliNetworkBot_CSharp/bin/Debug/*/backup/

PoliNetworkBot_CSharp/bin/Debug/*/config/

PoliNetworkBot_CSharp/bin/Debug/*/data/

*.dat

*.bin

*.dll
!PoliNetworkBot_CSharp/dll/*

*.exe

*.pdb

PoliNetworkBot_CSharp/Old/config/assoc.json

PoliNetworkBot_CSharp/Old/config/groups.json

PoliNetworkBot_CSharp/Old/data/groups.json

PoliNetworkBot_CSharp/Old/data/groups_old_001.json

PoliNetworkBot_CSharp/bin/Debug/netcoreapp3.1/psw_anon.txt

PoliNetworkBot_CSharp/bin/Debug/netcoreapp3.1/WriteLines.txt
*.ps1xml
*.psd1
*.psm1
PoliNetworkBot_CSharp/bin/Debug/net5.0/PoliNetworkBot_CSharp.runtimeconfig.dev.json
*.runtimeconfig.dev.json
