.idea/
.vs/
PoliNetworkBot_CSharp/bin/
PoliNetworkBot_CSharp/obj/
TLSharp/
.idea/.idea.PoliNetworkBot_CSharp/.idea/workspace.xml
TestBot/bin/Debug/
TestBot/obj/Debug/
TestBot/obj/
TestBot/Old/

PoliNetworkBot_CSharp.sln.DotSettings.user
